body{
    background-color: #f7f0f0;
    @font-face {
        font-family: 'Open Sans';
        src: url('fuente/kongtext.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
      }
}

/* Todo el HTML */

html{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Cuadro negro FERREMAX */

.cabe{
    display: flex;
    overflow:auto;
}

.letras{
    padding-left: 22%;
}

.hola{
    display: flex;
    justify-content: space-around;
    overflow:auto;
}

.letras{
    display:flex ;
    justify-content: center;
    align-items: center;
}
/* Hipervinculos Container */

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    overflow:auto;
}

.head a{
    color: rgb(255, 255, 255);
}
/* Hipervinculos */

.head li{
    list-style: none;
    padding-left: 20px;
}

/* Icnono sesion */

.nes-avatar{
    margin-left: 15px;
}

.tabla{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 85%;
}

.card_body{
    margin-top: 2%;
    text-align: right;
    width: 85%;
}

.total{
    text-align: right;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo_img{
    margin-top: 1%;
}

.todo_p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    flex-direction: column;
}

.cuadro{
    margin-top: 1%;
    width: 70%;
}

.letras1{
    margin-top: 1%;
    text-align: center;
}

.cuadrote{
    display: flex;
    align-content: center;
    justify-content: center;
}

.pagar{
    display: flex;
    align-content: center;
    justify-content: center;
}




