{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static 'css/misped1.css'%}">
    <title>Orden de Compra</title>
</head>
<header>
  <nav>
  <div class="nes-container is-dark with-title cabe">
      <p class="title">FERRE-MAX</p>
      <div class="loguito">
          <img src="../../../../../../static/img/logo2.png" width="200" alt="Logo Empresa">
      </div>
      <div class="letras">
        <h2>Ferre-Max</h2>
      </div>
    </div>
  </nav>
  <br>
  <div class="nes-container is-rounded is-dark">
    <div class="head">
      <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a href="/contacto/" class="nav-link px-2 link-dark">Contactenos</a></li>
      <li><a href="{% url 'productos' %}" class="nav-link px-2 link-dark">Catalogo</a></li>
      <a href="/carrito/"><img class="nes-avatar is-rounded is-medium" alt="Carrito de compras" src="../../../static/img/cart.png" style="image-rendering: pixelated;"></a>
      <a href="/login/"><img alt="Iniciar sesion" class="nes-avatar is-large"  src="../../../static/img/Login2.png" style="image-rendering: pixelated;"></a>
      {% if request.user.is_authenticated %}
</div>
  </div>
  <br>
  <h2 align="center">Mi perfil - {{ user.username }}</h2>
  <div class="nes-container is-rounded is-dark">
    <div class="head">
      <li><a href="{{ completeds }}">Mis pedidos</a></li>
      <li><a href="/direcciones/">Mis direcciones</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </div>
  </div>
  {% else %}
  {% endif %}
</header>
<body>
    
    <div class="pedidos">
        <p align="center">Mis pedidos</p>
    </div>
    <div class="lista ">
        {% for order in object_list %}
            {% include 'orders/snippets/order.html' %}
        {% endfor %}
    </div>



</body>
</html>