<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccione su direccion</title>
</head>
<body>

    {% include 'orders/snippets/breadcrumb.html' %}

    <div class="nose7">
        <h3>Selecciona una direccion de envio</h3>
    </div>
    <div class="nose8">
        {% for shipping_address in shipping_addresses %}
            <div class="nose9">
                <h5>{{ shipping_address.address }}</h5>
                <p>{{ shipping_address.postal_code }}</p>
                <a href="{% url 'orders:check_address' shipping_address.pk %}">
                    Seleccionar
                </a>
            </div>
        {% endfor %}
    </div>

</body>
</html>