{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stripe5.css' %}">

    {% if stripe_public_key %}
      <meta name="stripe_public_key" content="{{ stripe_public_key }}">
    {% endif %}

    <title>Metodo de pago</title>
</head>
<body>
  <div class="col">
    <div class="h3">
      Nuevo método de pago
    </div>

    <div class="">
      <form action="{% url 'billing_profiles:create' %}" method="post" id="payment-form">
        {% csrf_token %}

        <div class="form-group">
          <div class="form-control" id="card-element" style="height:2.4em; padding-top:.7em">
            <!-- Stripe colocara los elementos -->
          </div>
          <div class="" id="card-errors" role="alert">
            
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar nueva tarjeta</button>
      </form>
    </div>
  </div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe5.js' %}"></script>



</body>
</html>